p {
  background-color: green;
}
/* This background color only does stripes around text! */



.sidebar {
  width: 90%;
  float: right;
  background-color:#33FFFF;
}

img.resize {
  max-width:60%;
  max-height:60%;
}

.leftphoto {
  float: left;
  /* background-color:#33FFFF; */
}

.rightphoto {
  float: right;
  /* background-color:#33FFFF; */
}

.my-class {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}
